# A. Libraries

In [59]:
import pandas as pd
import numpy as np
import pickle
import json

# B. Model Load

In [60]:
with open('model_pipeline_adabost.pkl', 'rb') as file_1: # To open model with best result, in this case the model is svm with parameter 
    pipeadabost = pickle.load(file_1)

# C. Data Inference

In [61]:
df_inf = {'emp_id': {10: 'MKT2685',
  11: 'TECH1769',
  12: 'TECH7949',
  13: 'PUR3433',
  14: 'PUR6311'},
 'age': {10: 31, 11: 43, 12: 28, 13: 48, 14: 52},
 'Dept': {10: 'Marketing',
  11: 'Technology',
  12: 'Technology',
  13: 'Purchasing',
  14: 'Purchasing'},
 'location': {10: 'City', 11: 'Suburb', 12: 'City', 13: 'Suburb', 14: 'City'},
 'education': {10: 'UG', 11: 'PG', 12: 'UG', 13: 'PG', 14: 'PG'},
 'recruitment_type': {10: 'Walk-in',
  11: 'Recruitment Agency',
  12: 'On-Campus',
  13: 'Referral',
  14: 'Recruitment Agency'},
 'job_level': {10: 4, 11: 2, 12: 3, 13: 3, 14: 5},
 'rating': {10: 4, 11: 1, 12: 4, 13: 4, 14: 1},
 'onsite': {10: 1, 11: 0, 12: 1, 13: 1, 14: 1},
 'awards': {10: 6, 11: 9, 12: 0, 13: 8, 14: 7},
 'certifications': {10: 0, 11: 1, 12: 0, 13: 0, 14: 0},
 'salary': {10: 65715, 11: 29805, 12: 42419, 13: 42419, 14: 86750},
 'satisfied': {10: 1, 11: 1, 12: 0, 13: 1, 14: 1}}

In [62]:
data_inf = pd.DataFrame(df_inf)

In [63]:
data_inf.info()
data_inf

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 10 to 14
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   emp_id            5 non-null      object
 1   age               5 non-null      int64
 2   Dept              5 non-null      object
 3   location          5 non-null      object
 4   education         5 non-null      object
 5   recruitment_type  5 non-null      object
 6   job_level         5 non-null      int64
 7   rating            5 non-null      int64
 8   onsite            5 non-null      int64
 9   awards            5 non-null      int64
 10  certifications    5 non-null      int64
 11  salary            5 non-null      int64
 12  satisfied         5 non-null      int64
dtypes: int64(8), object(5)
memory usage: 560.0+ bytes

,emp_id,age,Dept,location,education,recruitment_type,job_level,rating,onsite,awards,certifications,salary,satisfied
10,MKT2685,31,Marketing,City,UG,Walk-in,4,4,1,6,0,65715,1
11,TECH1769,43,Technology,Suburb,PG,Recruitment Agency,2,1,0,9,1,29805,1
12,TECH7949,28,Technology,City,UG,On-Campus,3,4,1,0,0,42419,0
13,PUR3433,48,Purchasing,Suburb,PG,Referral,3,4,1,8,0,42419,1
14,PUR6311,52,Purchasing,City,PG,Recruitment Agency,5,1,1,7,0,86750,1

# D. Predict

In [64]:
y_pred_inf = pipeadabost.predict(data_inf)

y_pred_inf

array([1, 0, 1, 0, 1], dtype=int64)

# E. Concatenate Prediction

In [65]:
data_inf['satisfied'] = y_pred_inf
data_inf

,emp_id,age,Dept,location,education,recruitment_type,job_level,rating,onsite,awards,certifications,salary,satisfied
10,MKT2685,31,Marketing,City,UG,Walk-in,4,4,1,6,0,65715,1
11,TECH1769,43,Technology,Suburb,PG,Recruitment Agency,2,1,0,9,1,29805,0
12,TECH7949,28,Technology,City,UG,On-Campus,3,4,1,0,0,42419,1
13,PUR3433,48,Purchasing,Suburb,PG,Referral,3,4,1,8,0,42419,0
14,PUR6311,52,Purchasing,City,PG,Recruitment Agency,5,1,1,7,0,86750,1

This is result of the data dummy where has been entered. The machine learning that i have created use Support Machine Learning